---
import Layout from "../layouts/Layout.astro";
import Grid from "../components/grid.astro";
import Deal from "../components/Deal.astro";
import Choose_Us from "../components/Choose_Us.astro";
import Button from "../components/Button.astro";
import Banner from "../components/Banner.astro";
---


<!-- public/images/about/Group 50.webp -->
<Layout
  title="About"
  meta_title="Here’s Everything about us: The leading supplier for Infrastructure, Manufacturing & Construction Industry."
  meta_desc="Discover the story behind Mignesh Global, the industry leader providing top-notch raw meterails to Infrastructure, Construction & Manufacturing companies."
>
  <main>
    <!-- Banner -->

    <Banner
      h2text="We are Your Trusted Partner For Infrastructure & Lubricant Product Needs."
      ptext="Mignesh Global is the leading provider of range of high-quality products such as Bitumen, Bitumen Emulsion, Base Oil, Furnace Oil, etc to fulfill your Infrastructure or lubricant product needs."
      laptop="../../public/images/about/about_laptop.webp"
      tablet="../../public/images/about/about_tablet.webp"
      mobile="../../public/images/about/about_mobile.webp"
    />

    <!-- about us -->
    <section class="lg:mt-[80px] md:mt-[60px] mt-[40px]">
      <div
        class="container-1
         flex flex-col lg:flex-row justify-between items-center gap-10"
      >
        <div class="space-y-[28px] sm:space-y-[31px]">
          <div>
            <p
              class="text-[#EA8135] md:text-[20px] text-[18px] font-[700] leading-[24px] tracking-[0.01em] mb-[3px]"
            >
              About Us
            </p>
            <h2
              class="text-[#48389C] lg:text-[32px] md:text-[24px] text-[20px] font-[700] lg:leading-[24px] leading-[20px] tracking-[0.01em] uppercase"
            >
              Mignesh Global Ltd
            </h2>
          </div>

          <div
            class="w-full lg:max-w-[575px] xl:max-w-[582px] 2xl:max-w-[575px] space-y-4 text-[16px] font-[400] lg:leading-[24px] leading-[20px] tracking-[0.01em]"
          >
            <p>
              Mignesh Global paved their way with Mignesh Trading in 2016 and is
              the leading trading provider, we offer an extensive range of
              products, including Bitumen & Bitumen Products, Lubricant Raw
              Material, Petroleum Products tailored to meet the needs of both
              Infrastructure and Manufacturing companies.
            </p>

            <p>
              Our unwavering dedication to providing products of the highest
              quality, all conveniently available in one place, has been the
              cornerstone of our success over the past seven years.
            </p>
            <p>
              To deliver the best in class customer satisfaction and optimum
              quality products, Mignesh Global remains at the forefront of
              industry trends and aligned with customer preferences, while
              ensuring continued growth and prominence in the market.
            </p>
          </div>
        </div>

        <div>
          <img src="../../public/images/about/Images.svg" alt="Image" />
        </div>
      </div>
    </section>

    <!-- our story -->

    <section
      class="lg:mt-[80px] md:mt-[60px] mt-[40px] bg-[#E4E7EC] grid grid-cols-1 lg:grid-cols-2 justify-items-center content-center"
    >
      <div
        class="bg-[url(../../../../../public/images/about/Mask_group1.webp)] py-[40px] md:py-[60px] lg:py-0 bg-no-repeat bg-cover bg-right w-screen md:w-full"
      >
        <div
          class="max-sm:px-[25px] md:pr-20 lg:pr-0 md:text-left sm:max-w-[555px] md:max-w-[672px] max-lg:m-auto lg:ml-auto lg:mr-[45px] lg:max-w-[420px] xl:max-w-[500px] xl:mr-[60px] 2xl:max-w-[575px] lg:pt-[100px]"
        >
          <h2
            class="text-[#EA8135] md:text-[20px] text-[18px] font-[700] leading-[24px] tracking-[0.01em] mb-[3px]"
          >
            Our Story
          </h2>

          <h3
            class="text-[#48389C] lg:text-[32px] md:text-[24px] text-[20px] font-[700] lg:leading-[35px] md:leading-[28px] leading-[22px] tracking-[0.01em]"
          >
            The Journey of Blending Tech for Infrastructure & Manufacturing
            Industry!
          </h3>
        </div>
      </div>

      <div
        class="m-auto text-[16px] font-[400] xl:leading-[24px] leading-[22px] tracking-[0.01em] py-[40px] md:py-[60px] lg:py-0 lg:mt-[100px] lg:mb-[62px] max-sm:px-[25px] sm:max-w-[555px] md:max-w-[672px] lg:max-w-[320px] lg:ml-[110px] xl:max-w-[457px] 2xl:max-w-[550px]"
      >
        <p class="mb-[17px] xl:mb-[23px]">
          In this tech-savvy environment, where technology has been evolving at
          a breakneck pace - shaping the face of varied industries - our
          founders wondered why not the Infrastructure & production industry.
        </p>
        <p class="mb-[17px] xl:mb-[23px]">
          That's when a team of experts in the infrastructure and manufacturing
          industry came together to create something extraordinary. With a
          burning passion and a shared vision, they set out to develop a
          platform that would transform the industry.
        </p>
        <p class="mb-[17px] xl:mb-[23px]">
          And so, Mignesh Global Ltd was born in 2016. We developed a
          tech-driven ERP platform that aims to simplify the entire process of
          getting high-quality products for infrastructure and production
          companies in one place.
        </p>
        <p class="mb-[17px] xl:mb-[23px]">
          We have a range of products such as Bitumen, Bitumen Emulsion, Base
          Oil, and Furnace Oil on this platform, which everyone can avail of
          through an easy-to-use interface and quick process.
        </p>
        <p>
          But their success wasn't just about creating a platform - it was about
          creating a long-lasting relationship with their customers.
        </p>
      </div>
    </section>

    <!-- vision , mission our values -->
    <section class="lg:mt-[80px] md:mt-[60px] mt-[40px]">
      <div
        class="lg:gap-[36.79px] container-1 flex flex-col lg:flex-row justify-between"
      >
        <div
          class="w-full text-[#48389C] lg:text-[32px] md:text-[24px] text-[20px] font-[700] lg:leading-[40px] leading-[26px] tracking-[0.01em] uppercase"
        >
          <h2>Our Vision, Mission</h2>
          <div class="xl:flex">
            <h2 class="xl:w-1/2">& Core Values!</h2>

            <img
              class="xl:pt-5 w-full xl:w-[54%] 2xl:w-[58%]"
              src="../../public/images/about/Vector1.svg"
              alt="Image"
            />
          </div>
        </div>
        <div class="w-full">
          <Grid
            path="../../public/images/about/mission.svg"
            para="At Mignesh Global Ltd, we're on a mission to revolutionize the infrastructure and manufacturing industry by offering the platform to avail the best products in just a few easy steps. We believe that giving businesses all products at one location while making the process efficient, reliable, and cost-effective."
            head="Mission"
          />
          <Grid
            path="../../public/images/about/Vector.svg"
            para="Our vision is to create an easy-to-use platform driven by innovative tech that simplifies the entire process of sourcing products for the infrastructure and manufacturing industry. Our commitment to helping businesses achieve their goals is at the heart of everything we do."
            head="Vision"
          />
          <Grid
            path="../../public/images/about/our_approach.svg"
            para="At Mignesh Global Ltd, we are committed to upholding our integrity, transparency, and customer-centricity values. We strive to create long-lasting relationships with our customers by providing them with the best possible solutions."
            head="Our Values"
          />
        </div>
      </div>
    </section>

    <!-- meet our founder -->
    <section
      class="text-white bg-gradient-to-r from-[#252d4b] to-[#4b5eaa] lg:mt-[20px] md:mt-[30px] mt-[10px] 2xl:h-[610px]"
    >
      <div
        class="lg:pb-[168px] pb-[40px] md:pb-[60px] max-lg:gap-[40px] container-1 flex flex-col lg:flex-row max-lg:items-center"
      >
        <div
          class="space-y-4 2xl:w-[357px] 2xl:h-[442px] 2xl:ml-[210px] lg:ml-[5px] xl:ml-[100px] 2xl:mb-[168px]"
        >
          <div
            style="background: radial-gradient(50% 50% at 50% 50%, #FFF 31.25%, #F8DBC6 100%);"
            class="w-[253px] sm:w-[304px] lg:h-[370px]"
          >
            <img
              class="w-[207px] pt-[69px] sm:w-[257px] sm:pt-[92px] ml-[47px]"
              src="../../public/images/about/Untitled-6 1.webp"

              alt="Image"
            />
          </div>

          <div class="relative">
            <!-- Image -->

            <div class="absolute lg:ml-[40px] lg:mt-[6.69px] max-lg:hidden">
              <img src="../../public/images/about/Polygon 5.svg" alt="Image" />
            </div>

            <!-- Text -->
            <div class="max-sm:w-[253px] max-w-[357px] relative z-10">
              <h2
                class="text-[18px] font-[700] leading-[24px] tracking-[0.01em]"
              >
                Arjun N. Pachani
              </h2>
              <h2
                class="text-[18px] font-[400] leading-[24px] tracking-[0.01em]"
              >
                (Founder, Mignesh Global Ltd)
              </h2>
            </div>
          </div>
        </div>

        <div
          class="w-full lg:max-w-[524px] 2xl:h-[373px] space-y-5 lg:pt-[100px] 2xl:pb-[137px] lg:ml-[83px]"
        >
          <div>
            <p
              class="text-[#EA8135] md:text-[20px] text-[18px] font-[700] leading-[24px] tracking-[0.01em] mb-[3px]"
            >
              Meet
            </p>

            <div
              class="lg:text-[32px] md:text-[24px] text-[20px] font-[700] leading-[24px] tracking-[0.01em] uppercase"
            >
              <h2>our Founder!</h2>
            </div>
          </div>

          <div
            class="space-y-4 text-[16px] font-[400] leading-[24px] tracking-[0.01em]"
          >
            <p>
              Arjun N. Pachani has been working in Mignesh Trading for around 12
              years, and he is a civil engineer operating as a Promoting
              Director at Mignesh Group of Industries. Our Founder has been
              working to accelerate this industry for over a decade as an
              enthusiastic entrepreneur to change the face of Infrastructure in
              India by integrating technology efficiently.
            </p>

            <p>
              He always had a vision of simplifying these industries by blending
              them with technology. To make this possible, he founded Mignesh
              Trading back in 2016 while confronting the challenges in the
              infrastructure and production industry of getting the best
              products at one centralized location, affordable rates, and
              managed logistics.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- deal -->

    <section class="lg:mt-[80px] md:mt-[60px] mt-[40px]">
      <div class="container-1">
        <div>
          <p
            class="text-[#EA8135] md:text-[20px] text-[18px] font-[700] leading-[24px] tracking-[0.01em] mb-[3px]"
          >
            We deal in
          </p>

          <h2
            class="text-[#48389C] md:text-[24px] text-[20px] font-[700] md:leading-[32px] leading-[22px] tracking-[0.01em] uppercase"
          >
            the following Products!
          </h2>
        </div>
        <div
          class="grid lg:grid-cols-3 md:grid-cols-2 gap-[26px] justify-center items-center lg:mt-[60px] mt-[30px]"
        >
          <Deal
            text1="Bitumen & "
            text2="Bitumen Products"
            path="../../public/images/about/Group 110.webp"
            link="/bitumen"
          />
          <Deal
            text1="Lubricant "
            text2="Raw Material"
            path="../../public/images/about/Group 111.webp"
            link="/lubricant"
          />
          <Deal
            text1="Petroleum"
            text2="Products"
            path="../../public/images/about/Group 113.webp"
            link="/petroleum"
          />
        </div>
      </div>
    </section>

    <!-- why choose us -->

    <section class="bg-[#F9F9FB] lg:mt-[80px] md:mt-[60px] mt-[40px]">
      <div class="container-1 py-[40px] md:py-[60px] lg:py-20">
        <div>
          <p
            class="text-[#EA8135] md:text-[20px] text-[18px] font-[700] leading-[24px] tracking-[0.01em] mb-[3px]"
          >
            Why
          </p>

          <h2
            class="text-[#48389C] lg:text-[32px] md:text-[24px] text-[20px] font-[700] leading-[24px] tracking-[0.01em] uppercase"
          >
            Choose Us?
          </h2>
        </div>
        <div
          class="grid grid-cols-1 md:grid-cols-3 gap-[26px] sm:grid-cols-2 mx-auto justify-items-center content-center"
        >
          <Choose_Us
            path="../../public/images/about/icon_High-Quality-Products.svg"
            para1="Products designed to meet the highest industry standards"
            para2="Wide range of products to choose from"
            para3="Products  tailored to meet specific project needs"
            head="High-Quality Products"
          />

          <Choose_Us
            path="../../public/images/about/icon_Pocket-Friendly-Rates.svg"
            para1="Competitive pricing for all our products"
            para2="Savings without compromising on quality"
            para3="Transparent pricing with no hidden costs"
            head="Pocket-Friendly Rates"
          />

          <Choose_Us
            path="../../public/images/about/icon_Seamless-Buying-Process.svg"
            para1="Easy-to-use interface for effortless navigation"
            para2="Simple and intuitive purchase process"
            para3="Efficient order management system for quick processing"
            head="Seamless Buying Process"
          />

          <Choose_Us
            path="../../public/images/about/icon.svg"
            para1="Fast & Seamless delivery times for all products."
            para2="Our own Logistics company(Migesh Logistics) for prompt delivery."
            para3="Timely updates on the delivery status."
            head="Managed Logistics"
          />
          <Choose_Us
            path="../../public/images/about/icon (1).svg"
            para1="Real-time tracking of purchased products."
            para2="Regular updates on the delivery status."
            para3="Efficient after-sales support."
            head="End-to-End Tracking"
          />

          <Choose_Us
            path="../../public/images/about/icon (2).svg"
            para1="Advanced technology for streamlining the entire process"
            para2="Disruptive solutions for enhancing efficiency"
            para3="Access to the latest technology in the industry"
            head="Tech-Driven ERP Platform"
          />
        </div>
      </div>
    </section>

    <!-- drum_cta-->
    <section
      style="background: linear-gradient(270.01deg, #D3D3E1 46.98%, #D3D3E1 100%);"
    >
      <div class="container-1 py-[40px] md:py-[60px] lg:py-20">
        <div
          class="flex flex-col-reverse md:flex-row items-center 2xl:gap-[195px] gap-10"
        >
          <div>
            <div
              class="text-[#48389C] max-md:text-center text-[20px] leading-[22px] md:text-[24px] xl:text-[48px] lg:text-[42px] font-[700] lg:leading-[48px] xl:leading-[56px] md:leading-[26px] mb-[16px] lg:mb-[26px] max-w-[707px]"
            >
              Source the high-quality products from the best ones!
            </div>
            <div class="m-auto md:m-0 w-fit">
              <Button data="CONTACT NOW!" link="/contact" />
            </div>
          </div>

          <div class="m-auto">
            <img
              src="../../public/images/about/drum.webp"
              alt="drum not found"
            />
          </div>
        </div>
      </div>
    </section>
  </main>
  <style>
    @media screen and (max-width: 425px) {
      .infra-banner {
        background-image: url(../../public/images/about/Mask_group_small.webp);
        background-repeat: no-repeat;
        background-size: contain;
        height: 653px;
      }
      .infra-banner img {
        display: none;
      }
      .banner-text {
        width: 190%;
        min-height: 800px;
        padding-top: 100px;
      }
    }
  </style>
</Layout>
