---
interface Props {
	source: string;
	head: string;
    body: string;
}

const { source, head, body } = Astro.props;
---

<!-- drop-shadow-[0px_0px_5px_#00000066] -->
<div class="max-w-[614px] gap-1.5 ssm:gap-3 lg:gap-3 flex items-start">
    <img class="w-[32px]  " src={source} alt="image">
    <div class="txt">
        <h3 class="font-bold text-base sm:text-[18px] sm:leading-6 mb-[5px]">
            {head}
        </h3>
        <p class="text-sm sm:text-base">
            {body}
        </p>
    </div>
</div>