---
interface Props {
	title: string;
	body: string;
	background: string;
}

const { background, title, body } = Astro.props;
---

<section class="slider">
    <p>
        {title}
    </p>
    <p>
        {body}
    </p>
    <p>
        {background}
    </p>
</section>