---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  meta_title?: string;
  meta_desc?: string;
}

const { title, meta_title, meta_desc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KGE3MXM13X"
    >
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag();
      gtag("js", new Date());
      gtag("config", "G-KGE3MXM13X");
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KGE3MXM13X"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-KGE3MXM13X");
    </script>

    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="description" content="Mignesh Global" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../public/images/favicon.png"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={meta_title} /><meta
      name="language"
      content="en-GB"
    />
    <meta name="description" content={meta_desc} />

    <!-- Icons From Font Awesome -->
    <script
      src="https://kit.fontawesome.com/97238f579d.js"
      crossorigin="anonymous"
      defer></script>

    <!-- Fonts From Google -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <!-- home page slider  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"
    />
    <script
      src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"
    ></script>

    <!-- Csr Slider  -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"
    ></script>

    <!-- Title of The Respective Page -->

    <title>{title}</title>
  </head>
  <body>
    <!-- Header Component  -->
    <Header />
    <!-- Main Components  -->
    <slot />
    <!-- Footer Component  -->
    <Footer />
  </body>
</html>

<!-- Global Styles -->
<style is:global>
  /* Font Style From Google  */
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  body {
    font-family: "Roboto", sans-serif !important;
  }

  /* Smooth Scrolling on all html the pages  */
  html {
    scroll-behavior: smooth;
  }

  /* Container Css Common  */
  .container-1 {
    width: 100%;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  @media (min-width: 640px) {
    .container-1 {
      padding-right: 15px;
      padding-left: 15px;
      max-width: 610px;
    }
  }
  @media (min-width: 768px) {
    .container-1 {
      max-width: 728px;
    }
  }
  @media (min-width: 1024px) {
    .container-1 {
      max-width: 974px;
    }
  }
  @media (min-width: 1280px) {
    .container-1 {
      max-width: 1180px;
    }
  }
  @media (min-width: 1536px) {
    .container-1 {
      max-width: 1323px;
    }
  }

  /* Common Heading Css */
  .head-txt {
  }
  .head-txt h2 {
    color: #48389c;
    font-size: 20px;
    font-weight: 700;
  }
  .head-txt h6 {
    color: #ea8135;
    font-weight: 700;
    font-size: 18px;
  }
  @media (min-width: 768px) {
    .head-txt h2 {
      font-size: 32px;
    }
    .head-txt h6 {
      font-size: 20px;
    }
  }

  /* for button hover animation */
  .btn-6 {
    background: #e98135;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
  }
  .btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 500px;
    background-color: #d15700;
    transition:
      width 0.5s ease-in-out,
      height 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .btn-6:hover {
    color: #ffffff;
  }
  .btn-6:hover span {
    width: 225%;
    height: 562.5px;
  }
  .btn-6:active {
    background-color: #d15700;
  }
</style>
